<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-size: contain;
            background-position: bottom;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        
        .container {
            text-align: center;
            margin-bottom: -30%;
        }
        
        .number {
            font-size: 6em;
            font-weight: bold;
        }
    </style>
</head>
<body background="{{ url_for('static', filename='images/background.jpg') }}">
    <div class="container">
	    <div class="number" id="peopleCounter">0</div>
    </div>
</body>
</html>
<script>
	async function getPeopleCounter(url){
	    const response = await fetch(url);
	    const text = await response.text();
	    console.log(text);
	    return text
	}

	const peopleCounter = document.getElementById("peopleCounter");
	setInterval(async function(){
		const res = await getPeopleCounter("http://127.0.0.1:5000/peopleCounter");
		peopleCounter.innerHTML = res;
	}, 500);
</script>
